* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(249,233,0, 1);
}

.square {
    border-left: 50vw solid transparent;
    border-top: 50vh solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 50vh solid transparent;
    position: absolute;
}

.square:nth-child(1) {
    border-left: 50vw solid rgb(1,1,1);
    left: -50vw;
    animation: moveLeftSquare infinite 1s;
    animation-play-state: paused;
}
.square:nth-child(2) {
    border-top: 50vh solid rgb(1,159,85);
    top: -50vh;
    animation: moveTopSquare infinite 1s;
    animation-play-state: paused;
}
.square:nth-child(3) {
    border-right: 50vw solid rgb(1,1,1);
    right: -50vw;
    animation: moveRightSquare infinite 1s;
    animation-play-state: paused;
}
.square:nth-child(4) {
    border-bottom: 50vh solid rgb(1,159,85);
    bottom: -50vh;
    animation: moveBottomSquare infinite 1s;
    animation-play-state: paused;
}

@keyframes moveLeftSquare {
    100% {
        left: -90px;
    }
}
@keyframes moveTopSquare {
    100% {
        top: -50px;
    }
}
@keyframes moveRightSquare {
    100% {
        right: -90px;
    }
}
@keyframes moveBottomSquare {
    100% {
        bottom: -50px;
    }
}
